<h1>Document Templates</h1>
<h2>Creating a document template</h2>

<br/><br/>
<ol>
  <li>
    <p>Place the cursor where you would like the value to be inserted.</p>

    <p>
      <%= image_tag "help/document_templates/01-field-placement.PNG", style: 'height:auto;width:100%;' %>
    </p>
  </li>
  <li>
    <p>Click insert tab in the ribbon.</p>

    <p>
      <%= image_tag "help/document_templates/02-click-insert.PNG", style: 'height:100%;width:auto;' %>
    </p>
  </li>
  <li>
    <p>Click Quick Parts.</p>

    <p>
      <%= image_tag "help/document_templates/03-click-quick-parts.PNG", style: 'height:100%;width:auto;' %>
    </p>
  </li>
  <li>
    <p>Click Field.</p>

    <p>
      <%= image_tag "help/document_templates/04-click-field.PNG", style: 'height:100%;width:auto;' %>
    </p>
  </li>
  <li>
    <p>Select Merge Field.</p>

    <p>
      <%= image_tag "help/document_templates/05-select-merge-field.PNG", style: 'height:100%;width:auto;' %>
    </p>
  </li>
  <li>
    <p>Type the field name. <strong>NOTE:</strong> The field name must begin with =, for example =description</p>

    <p>
      <%= image_tag "help/document_templates/05-select-merge-field.PNG", style: 'height:100%;width:auto;' %>
    </p>
  </li>
  <li>
    <p>Click OK.</p>

    <p>
      <%= image_tag "help/document_templates/07-click-okay.PNG", style: 'height:100%;width:auto;' %>
    </p>
  </li>
  <li>
    <p>The field name should now appear in the document.</p>

    <p>
      <%= image_tag "help/document_templates/08-field-appears-in-document.PNG", style: 'height:100%;width:auto;' %>
    </p>
  </li>
</ol>
