<tr>
  <td nowrap><%= link_to claim.formatted_claim_date, claim %></td>
  <td nowrap><%= humanized_money_with_symbol claim.amount %></td>
  <td nowrap><%= claim.accepted %></td>
  <td nowrap><%= claim.problem %></td>
  <td nowrap><%= claim.slab_registration_number %></td>
</tr>
