<% can_manage = can? :manage, Claim %>
<% can_update = can? :update, Claim %>
<% can_delete = can? :delete, Claim %>
      <table class="table">
        <thead>
          <tr>
            <th>Client</th>
            <th><%= sort_link @search, :account_account_type_name, 'Account' %></th>
            <th><%= sort_link @search, :slab_registration_number, 'REG' %></th>
            <th><%= sort_link @search, :claim_date %></th>
            <th><%= sort_link @search, :last_payment_on %></th>
            <th><%= sort_link @search, :amount_pennies, 'Amount' %></th>
            <th>Outstanding</th>

            <th colspan="1">
              <%= search_form_for @search, class: 'form-inline' do |f| %>

              <div class="form-group" style="width: 100%">
                <%= f.search_field :account_account_type_name_or_client_file_file_number_cont, class: 'form-control',
                placeholder: 'File number or account type' %>
              </div>
              <br/>

              <div class="form-group">
                <%= f.label :claim_date_gteq, 'From' %>
                <%= f.search_field :claim_date_gteq, class: 'form-control', placeholder: 'DD/MM/YYYY', style: 'width: 100px' %>
              </div>

              <div class="form-group">
                <%= f.label :claim_date_lteq, 'To' %>
                <%= f.search_field :claim_date_lteq, class: 'form-control', placeholder: 'DD/MM/YYYY', style: 'width: 100px' %>
              </div>
              </br>

              <div class="form-group" data-toggle="tooltip" title="Claims with at least one payment and greater than 0 outstanding amount">
                <div class="checkbox">
                  <label>
                      <%= f.check_box :part_payment %>
                      Only part payments
                    </label>
                  </div>
                </div>
              </div>

              <%= f.submit %>
            </div>
          <% end %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @claims.each do |claim| %>
        <tr>
          <td><%= claim.client %></td>
          <td><%= claim.account %></td>
          <td><%= claim.slab_registration_number %></td>
          <td><%= claim.formatted_claim_date %></td>
          <td><%= claim.last_payment_on %></td>
          <td><%= humanized_money_with_symbol claim.amount %></td>
          <td><%= humanized_money_with_symbol outstanding_amount(claim, claim.payments) %></td>

          <td><%= link_to 'View', claim, class: 'btn btn-default btn-sm' %>
            <% if can_manage || can_update %>
              <%= link_to 'Edit', edit_claim_path(claim), class: 'btn btn-default btn-sm' %>
            <% end %>
            <% if can_manage || can_delete %>
              <%= link_to claim, method: :delete, class: 'btn btn-default btn-sm', data: {confirm: 'Are you sure?'} do %>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @claims, renderer: BootstrapPagination::Rails %>
<p>
  <%= page_entries_info @claims %>
</p>
