<%= form_for(@civilian) do |f| %>
    <% if @civilian.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@civilian.errors.count, "error") %> prohibited this civilian
            from being saved:</h2>

          <ul>
            <% @civilian.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-md-4">

        <div class="actions form-group">
          <%= f.submit_change_aware %>
        </div>

        <div class="field form-group">
          <%= f.label :title, class: "control-label" %><br>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="field form-group">
          <%= f.label :name, class: "control-label" %><br>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="field form-group">
          <%= f.label :address, class: "control-label" %><br>
          <%= f.text_area :address, class: "form-control" %>
        </div>

        <div class="field form-group">
          <%= f.label :telephone, class: "control-label" %><br>
          <%= f.text_field :telephone, class: "form-control" %>
        </div>

        <%= f.label 'Witness for Client Files', class: "control-label" %><br>
        <%= autocomplete_field_tag :client_file, '', autocomplete_client_file_file_number_civilians_path,
                                   class: 'civilian_client_file multi-select-autocomplete form-control',
                                   :'data-item_row_url' => 'witnesses/multi_select_row',
                                   placeholder: 'File Number' %>

        <%= f.multiselected_items_field @civilian.witnesses do |witness| %>
            <%= render partial: 'witnesses/select_row', locals: {label: "#{witness.client_file}", client_file_id: witness.client_file.id, cited: witness.cited} %>
        <% end %>

      </div>
    </div>
<% end %>
