<% can_manage = can? :manage, Civilian %>
<% can_update = can? :update, Civilian %>
<% can_delete = can? :delete, Civilian %>
<table class="table">
  <thead>
  <tr>

    <th><%= sort_link @search, :title %></th>
    <th><%= sort_link @search, :name %></th>
    <th><%= sort_link @search, :address %></th>
    <th><%= sort_link @search, :telephone %></th>

    <th colspan="1">
      <%= search_form_for @search, class: 'form-inline' do |f| %>
          <div class="form-group has-feedback">
            <%= f.search_field :title_or_name_or_address_or_telephone_cont, class: 'form-control' %>
          </div>
          <%= f.submit %>
      <% end %>
    </th>
  </tr>
  </thead>

  <tbody>
  <% @civilians.each do |civilian| %>
      <tr>
        <td><%= civilian.title %></td>
        <td><%= civilian.name %></td>
        <td><%= civilian.address %></td>
        <td><%= civilian.telephone %></td>
        <td><%= link_to 'View', civilian, class: 'btn btn-default btn-sm' %>
          <% if can_manage || can_update %>
              <%= link_to 'Edit', edit_civilian_path(civilian), class: 'btn btn-default btn-sm' %>
          <% end %>
          <% if can_manage || can_delete %>
              <%= link_to civilian, method: :delete, class: 'btn btn-default btn-sm', data: {confirm: 'Are
      you sure?'} do %>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @civilians, renderer: BootstrapPagination::Rails %>
<p>
  <%= page_entries_info @civilians %>
</p>

