<% can_manage = can? :manage, ItemChargeRate %>
<% can_update = can? :update, ItemChargeRate %>
<% can_delete = can? :delete, ItemChargeRate %>
<table class="table">
    <thead>
        <tr>
            <th><%= sort_link @search, :chargeable_item_name %></th>
            <th><%= sort_link @search, :qualification_type %></th>
            <th><%= sort_link @search, :account_type_name, 'Account type' %></th>
            <th colspan="1">
                <%= search_form_for @search, class: 'form-inline' do |f| %>
                <div class="form-group has-feedback">
                    <%= f.search_field :chargeable_item_name_or_qualification_type_or_account_type_name_cont, class: 'form-control' %>
                </div>
                <%= f.submit %>
                <% end %>
            </th>
        </tr>
    </thead>

    <tbody>
        <% @item_charge_rates.each do |item_charge_rate| %>
        <tr>
            <td><%= item_charge_rate.chargeable_item_name %></td>
            <td><%= item_charge_rate.qualification_type %></td>
            <td><%= item_charge_rate.account_type %></td>
            <td><%= link_to 'View', item_charge_rate, class: 'btn btn-default btn-sm' %>
                <% if can_manage || can_update %>
                <%= link_to 'Edit', edit_item_charge_rate_path(item_charge_rate), class: 'btn btn-default btn-sm' %>
                <% end %>
                <% if can_manage || can_delete %>
                <%= link_to item_charge_rate, method: :delete, class: 'btn btn-default btn-sm', data: {confirm: 'Are
      you sure?'} do %>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <% end %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= will_paginate @item_charge_rates, renderer: BootstrapPagination::Rails %>
<p>
    <%= page_entries_info @item_charge_rates %>
</p>
