<%= form_for(@user_type) do |f| %>
<% if @user_type.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user_type.errors.count, "error") %>
      prohibited this user_type from being saved:</h2>

    <ul>
      <% @user_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-md-4">
    <div class="actions form-group">
      <%= f.submit_change_aware %>
    </div>
    <div class="field form-group">
      <%= f.label :name, class: "control-label" %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="field form-group">
      <div class="checkbox-inline">
        <%= f.check_box :qualified_solicitor %>
        <%= f.label :qualified_solicitor, class: "control-label" %>
      </div>
    </div>
  </div>
</div>
<% end %>
