<% can_manage = can? :manage, ClientFile %>
<% can_update = can? :update, ClientFile %>
<% can_delete = can? :delete, ClientFile %>
<table class="table">
  <thead>
  <tr>
    <th><%= sort_link @search, :file_number, "FN" %></th>
    <th><%= sort_link @search, :client_name_sort, "Client" %></th>
    <th><%= sort_link @search, :subject_matter, "Subject Matter" %></th>
    <th><%= sort_link @search, :disposal, "Disposal" %></th>
    <th><%= sort_link @search, :procurator_fiscal_reference, "PF Ref." %></th>
    <th></th>
    <th colspan="1">
      <%= search_form_for @search, class: 'form-inline' do |f| %>
          <div class="form-group has-feedback">
            <%= f.search_field :client_file_search_scope, class: 'form-control' %>
          </div>
          <%= f.submit %>
      <% end %>
    </th>
  </tr>
  </thead>

  <tbody>
  <% @client_files.each do |client_file| %>
      <tr class="<%= file_colour client_file %>">
        <td><%= client_file.file_number %></td>
        <td><%= client_file.client.short_full_name %></td>
        <td><%= truncate client_file.subject_matter %></td>
        <td><%= truncate client_file.disposal %></td>
        <td><%= truncate client_file.procurator_fiscal_reference %></td>
        <td>
          <% get_account_warnings(client_file).each do |warning| %>
              <%= warning.to_html.html_safe if warning.show? %>
          <% end %>
        </td>
        <td>
          <%= link_to 'View', client_file, class: 'btn btn-default btn-sm' %>
          <% if can_manage || can_update %>
              <%= link_to 'Edit', edit_client_file_path(client_file), class: 'btn btn-default btn-sm' %>
          <% end %>
          <% if can_manage || can_delete %>
              <%= link_to client_file, method: :delete, class: 'btn btn-default btn-sm', data: {confirm: 'Are
      you sure?'} do %>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @client_files, renderer: BootstrapPagination::Rails %>
<p>
  <%= page_entries_info @client_files %>
</p>