<% can_manage = can? :manage, Jurisdiction %>
<% can_update = can? :update, Jurisdiction %>
<% can_delete = can? :delete, Jurisdiction %>
<table class="table">
  <thead>
  <tr>
            <th><%= sort_link @search, :name %></th>
        <th colspan="1">
      <%= search_form_for @search, class: 'form-inline' do |f| %>
          <div class="form-group has-feedback">
            <%= f.search_field :name_cont, class: 'form-control' %>
          </div>
          <%= f.submit %>
      <% end %>
    </th>
  </tr>
  </thead>

  <tbody>
  <% @jurisdictions.each do |jurisdiction| %>
  <tr>
    <td><%= jurisdiction.name %></td>    <td><%= link_to 'View', jurisdiction, class: 'btn btn-default btn-sm' %>
      <% if can_manage || can_update %>
      <%= link_to 'Edit', edit_jurisdiction_path(jurisdiction), class: 'btn btn-default btn-sm' %>
      <% end %>
      <% if can_manage || can_delete %>
    <%= link_to jurisdiction, method: :delete, class: 'btn btn-default btn-sm', data: {confirm: 'Are
      you sure?'} do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <% end %>
      <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @jurisdictions, renderer: BootstrapPagination::Rails %>
<p>
  <%= page_entries_info @jurisdictions %>
</p>
