<%= form_for(@location_type) do |f| %>
    <% if @location_type.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@location_type.errors.count, "error") %> prohibited this location_type
            from being saved:</h2>

          <ul>
            <% @location_type.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-md-4">
        <div class="actions form-group">
          <%= f.submit_change_aware %>
        </div>

        <div class="field form-group">
          <%= f.label :name, class: "control-label" %><br>
          <%= f.text_field :name, class: "form-control" %>
        </div>

      </div>
    </div>
<% end %>
