<div class="row">
  <div class="col-md-4">
    <h3>Location</h3>
    <%= render 'application/entity_control_links', entity: @location %>
    <%= render 'application/entity_timestamps', entity: @location %>

    <table class="table">
      <tr>
        <td nowrap>
          <strong>Name:</strong>
        </td>
        <td nowrap>
          <%= @location.name %>
        </td>
      </tr>
      <tr>
        <td nowrap>
          <strong>Address:</strong>
        </td>
        <td nowrap>
          <%= @location.address %>
        </td>
      </tr>
      <tr>
        <td nowrap>
          <strong>Telephone:</strong>
        </td>
        <td nowrap>
          <%= @location.telephone %>
        </td>
      </tr>
      <tr>
        <td nowrap>
          <strong>Location Type:</strong>
        </td>
        <td nowrap>
          <%= @location.location_type.name %>
        </td>
      </tr>
    </table>
  </div>
</div>
