<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="heading text-center">
      <h1>Account of Expenses</h1>
      incurred by
      <h3>Scottish Legal Aid Board</h3>
      on behalf of
      <h3>MESSRS BRUCE SHORT SOLICITORS</h3>
      <p>
        3 Rattray Street, Dundee, DD1 1NA<br/>
        Practitioners Code: 323904<br/>
        Firm's Code: 19674
      </p>

      <hr/>
      <p>
      <%= @account.client_file.client.full_name %> (<%= @account.client_file %>)</br>
      <%= @account.account_type %>: <%= @account.reference %></br>
      Effective from: <%= @account.effective_from %>
      </p>
      <hr/>
    </div>
    <br/>
    <br/>
    <br/>

    <table class="table">
      <thead>
        <th>Date</th>
        <th>Narrative</th>
        <th>Outlay</th>
        <th>Fee</th>
      </thead>
      <% @account_charge_items.each do |account_charge_item| %>
      <tr>
        <td nowrap>
          <%= account_charge_item.formatted_item_date %>
        </td>
        <td>
          <%= simple_format account_charge_item.narrative %>
        </td>
        <td nowrap>
          <%= humanized_money_with_symbol amount_for_expense_report(account_charge_item.outlay_amount, account_charge_item, @account.effective_from) %>
        </td>
        <td nowrap>
          <%= humanized_money_with_symbol amount_for_expense_report(account_charge_item.fee_amount, account_charge_item, @account.effective_from) %>
        </td>
      </tr>
      <% end %>
      <tr>
        <td colspan="2"><strong>Totals:</strong></td>
        <td nowrap>
          <%= humanized_money_with_symbol @outlay_total %>
        </td>
        <td nowrap>
          <%= humanized_money_with_symbol @fee_total %>
        </td>
      </tr>
    </table>

  </div>

</div>
